<html>
    <head>
        <title>NewBricks! :D</title>
        <link rel="stylesheet" href="/res/brickhack.css">
        <script src="/res/login.js" async defer type="module"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="login-container">
                <h1>WELCOME TO NEW BRICKS!</h1>
                <div>
                    <p>We hope you enjoy your stay! Have fun creating the new RIT.</p>
                    <small>Or an abomination, that's fine too :)</small>
<!--                    <p class="input-group">-->
<!--                        <label for="username-input">Username: &nbsp;</label>-->
<!--                        <input id="username-input" type="text">-->
<!--                    </p>-->
<!--                    <p class="input-group">-->
<!--                        <label for="password-input">Password: &nbsp;</label>-->
<!--                        <input id="password-input" type="password">-->
<!--                    </p>-->
                    <p>
                        <input id="login-button" type="submit" value="Start Bricking">
                    </p>
                </div>
            </div>
            <div id="game-container" class="hidden">
                <div id="hud">
                    <h2>+</h2>
                </div>
            </div>
        </div>
    </body>
</html>
